<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="/css/sytle.css">
</head>
<body>
<div class="main">
    <div class="navdiv">
      {{>navs}}
    </div>
    <div class="headername">
      {{>headers}}
    </div>
    <div class="footerdiv">
      {{>footer}}
    </div>
  </div>

</body>
</html>